body {
	font-family: sans-serif;
}

fieldset {
	border: 1px solid gray;
}

input {
font-size: 11px;
}
td {
font-size:11px;
}
input[type=text][readonly], textarea[readonly], select[readonly] {
background: silver;
color:gray;
}
input[type=text], input[type=file], textarea, select {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #B8B8B8;
color:#444444;
cursor:pointer;
font-size:11px;
padding:2px;
vertical-align:middle;
}
input[type=submit]{
background: #93C410 none repeat scroll 0 0;
border:1px solid;
border-color: #93C410 #669900 #669900 #93C410
}


input.delete[type=button]{
background: #CC0000 none repeat scroll 0 0;
border:1px solid;
border-color: #CC0000 #990000 #990000 #CC0000
}

input[type=button], input[type=reset]{
background: silver none repeat scroll 0 0;
border:1px solid;
border-color:silver #444444 #444444 silver
}





.error_control { color: red; border: thin; border-style: solid; border-color: red }
.error_label { color: red; }

.messages { font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid silver;
	color: gray;
	background-color: white;
	padding: 5px;
}
div.messages li { font-size: 9px;
	color: blue;
	list-style: square;
	margin-top: 3px;
}

.errors { font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid red;
	color: black;
	background-color: white;
	padding: 5px;
}
div.errors li { font-size: 9px;
	color: red;
	list-style: square;
	margin-top: 3px;
}


.topheadermid {
	border:1px solid silver;
	background:#EAF1FA;
	font-family: sans-serif;
	font-size:14pt;
	padding: 5px;
	margin-bottom: 3px;
	font-weight:bold;
	width: 300px;
}

.outertable {
	border:1px solid gray;
	background:#EAF1FA;
	font-family: sans-serif;
	font-size: 12px;
	width: 800px;
}







